{% extends "forms.html" %}


{% block title %}{% if group %}Edit {{ group }}{% else %}Create group{% endif %} | Groups{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_grp_list %}">Groups</a>
 &rsaquo; {% if group %}Edit {{ group }}{% else %}Create group{% endif %}
</div>
{% endblock %}


{% block content %}
{% load forms %}
{% if form.errors  or form.non_field_errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}

<form method="post" action="." class="module" enctype="multipart/form-data">
    <h2> {% if group %}Edit {{ group }}{% else %}Create group{% endif %} </h2>

    <fieldset class="aligned ()">
        {% form_as_div form %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
        {% if group and perms.auth.delete_group %}
        <p class="deletelink-box"><a href="{% url plac_group_delete group.cn %}" class="deletelink">Delete</a></p>
        {% endif %}
    </div>
</form>
{% endblock %}
