{% extends "main.html" %}

{% block title %}{{ group }} verbose | Groups{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../">Groups
 &rsaquo; <a href="../">{{ group }}</a>
 &rsaquo; Verbose
{% endblock %}   

{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Group {{ group }} verbose </h2>
        <h3>{{ group.dn }}</h3>
        <table>
            {% for i,j in group.get_fields %}
                <tr>
                    {% if j %}
                    <td>{{ i }}</td><td>{{ j }}</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
