{% extends "changelist.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}Users{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; Users
{% endblock %}   


{% block objecttools %}
<ul class="object-tools">
<li><a href="{% url plac_user_list_pdf %}pdf/?{{ request.META.QUERY_STRING }}">Print version</a></li>
{% if perms.auth.add_user %}
<li><a href="{% url plac_user_add %}" class="addlink">Add User</a></li>
{% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="module filtered" id="changelist">



<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{{ STATIC_URL }}img/admin/icon_searchbox.png" alt="Search" /></label>
<input type="text" size="40" name="q" value="" id="searchbar" />
<input type="submit" value="Go" />
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>


		<div id="changelist-filter">
   				<h2>Filter</h2>
   				{{ filter_bar|safe }}
   	</div>
   	
   	
   	
<table cellspacing="0">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Mobile</th>
			<th>Email</th>
            <th>Location</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for u in user_list %}
	   	<tr class="{% cycle row1,row2  as rowcolours %}">
	   		<td><a href="{% url plac_user_detail u.uid %}">{{ u.cn }}</a></td>
	   		<td>{{ u.telephoneNumber }}</td>
	   		<td>{{ u.mobile }}</td>
	   		<td>{{ u.mail|urlize }}</td>
	   		<td>{{ u.l }}</td>
			</tr>
		{% endfor %}
   </tbody>  	
</table>

<p class="paginator">
{{ user_list|length }} users
</p>	
	
</div>
{% endblock %}
