{% extends "main.html" %}


{% block title %}{{ luser }} verbose | Users{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_user_list %}">Users</a>
 &rsaquo; {{ luser }} verbose
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    <div class="module">
        <h2>User {{ luser }} verbose</h2>
        <h3>{{ luser.dn }}</h3>
        <table>
            {% for i,j in luser.get_fields %}
                <tr>
                    {% if j %}
                    <td>{{ i }}</td><td>{{ j }}</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
