{% extends "main.html" %}


{% block title %}List | Users{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; Users
</div>
{% endblock %}


{% block object-tools %}
<div class="module">
    <h2>User links</h2>
    <ul>
        {% if perms.auth.add_user %}
            <li><a href="{% url plac_user_add %}" class="addlink">Add User</a></li>
        {% endif %}
        <li><a href="{% url plac_user_list_pdf %}?{{ request.META.QUERY_STRING }}">Printable</a></li>
    </ul>
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module filtered">
        <h2>User List</h2>

        <script type="text/javascript">document.getElementById("searchbar").focus();</script>


        <div id="changelist-filter">
            <h2>Filter</h2>
            {{ filter_bar|safe }}
        </div>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user_list|dictsort:"cn" %}
                    <tr class="{% cycle row1,row2  as rowcolours %} {% if u.is_locked %}locked{% endif %}">
                        <td><a href="{% url plac_user_detail u.uid %}">{{ u.cn }}</a></td>
                        <td>{{ u.telephoneNumber }}</td>
                        <td>{{ u.mobile }}</td>
                        <td>{{ u.mail|urlize }}</td>
                        <td>{{ u.l }}</td>
                    </tr>
                {% endfor %}
            </tbody>  	
        </table>
    </div>
</div>
{% endblock %}
