{% extends "main.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../">Users
 &rsaquo; <a href="../">{{ luser.uid }}</a>
 &rsaquo; Verbose
{% endblock %}   

{% block content %}
<div id="content-main">

    <div class="module">
        <h2> Users - verbose </h2>
        <h3>{{ luser.dn }}</h3>
        <table>
            {% for i,j in luser.get_fields %}
                <tr>
                    {% if j %}
                    <td>{{ i }}</td><td>{{ j }}</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
