{% extends "main.html" %}


{% block title %}{{ luser }} groups | Users{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_user_list %}">Users</a>
 &rsaquo; <a href="{% url plac_user_detail luser.uid %}">{{ luser }}</a>
 &rsaquo; Groups
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Groups for {{ luser }}</h2>
        <table>
            {% with luser.primary_group.get_obj as primary_group %}
            {% if primary_group %}
            <tr>
                <td>Primary Group:</td><td><a href="{% url plac_grp_detail primary_group.cn %}">{{ primary_group }}</a></td>
            </tr>
            {% endif %}
            {% endwith %}
            {% for g in luser.secondary_groups.all %}
                <tr>
                    <td>Secondary Groups:</td><td><a href="{% url plac_grp_detail g.cn %}">{{ g }}</a></td>
                    {% if perms.auth.change_user %}
                        <td><a href="{% url plac_grp_rm_member g.cn,luser.uid %}" class="deletelink">remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
