{% extends "main.html" %}

{% block title %}Users{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; Users
{% endblock %}   

{% block content %}
<div id="content-main">
    <div class="module filtered">
        <h2>Users</h2>

        <script type="text/javascript">document.getElementById("searchbar").focus();</script>


        <div id="changelist-filter">
            <h2>Filter</h2>
            {{ filter_bar|safe }}
        </div>


        <ul class="object-tools">
            {% if perms.auth.add_group %}
                <li><a href="{% url plac_user_add %}" class="addlink">Add User</a></li>
            {% endif %}
        </ul>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user_list|dictsort:"cn" %}
                    <tr class="{% cycle row1,row2  as rowcolours %}">
                        <td><a href="{% url plac_user_detail u.uid %}">{{ u.cn }}</a></td>
                        <td>{{ u.telephoneNumber }}</td>
                        <td>{{ u.mobile }}</td>
                        <td>{{ u.mail|urlize }}</td>
                        <td>{{ u.l }}</td>
                    </tr>
                {% endfor %}
            </tbody>  	
        </table>
    </div>
</div>
{% endblock %}
