Source: django-placard
Section: python
Priority: optional
Maintainer: Sam Morrison
Build-Depends: debhelper (>=7.0.0), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.8.3.0

Package: django-placard
Architecture: all
Homepage: http://code.arcs.org.au/gitorious/django/django-placard/
Depends: ${misc:Depends}, ${python:Depends}, python-ldap (>= 2.2), python-django (>= 1.1), python-cracklib (>= 2.8), django-andsome (>= 1.0)
Description: Django LDAP client library.
 Django LDAP client library.
