{% extends "main.html" %}


{% block title %}{{ account }} verbose | Accounts{% endblock %}


{% block breadcrumbs %}
{% load placard_tags %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_account_list %}">Accounts</a>
{% if is_slave %}
 &rsaquo; <a href="{% bond_url 'plac_account_detail' account.pk account_bond %}">{{ account }} detail</a>
 &rsaquo; <a href="{% bond_url 'plac_account_detail' account.pk account_bond %}">{{ account_bond }}</a>
 &rsaquo; Verbose
{% else %}
 &rsaquo; <a href="{% bond_url 'plac_account_detail' account.pk account_bond %}">{{ account }} detail</a>
 &rsaquo; Verbose
{% endif %}
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Account {{ account }} verbose</h2>
        <h3>{{ account.dn }}</h3>
        <table>
            {% for i,j in account.get_fields %}
                <tr>
                    {% if j %}
                    <td>{{ i }}</td><td>{{ j }}</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
