{% extends "forms.html" %}
{% load url from future %}


{% block title %}{% if not created %}Edit {{ account }}{% else %}Create user{% endif %} | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url "plac_account_list" %}">Accounts</a>
 &rsaquo; {% if not created %}Edit {{ account }}{% else %}Create Account{% endif %} User
</div>
{% endblock %}


{% block content %}
{% load placard_tags %}
{% if form.errors  or form.non_field_errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}

<form method="post" action="." class="module" enctype="multipart/form-data">{% csrf_token %}
    <h2> {% if not created %}Edit {{ account }}{% else %}Create user{% endif %} </h2>

    <fieldset class="aligned">
        {% block form-fields %}
        {{ form.non_field_errors }}
        {% if created %}
        {% formfield form.uid %}
        {% formfield form.raw_password %}
        {% formfield form.raw_password2 %}
        {% endif %}
        {% inlineformfield form.givenName form.sn %}
        {% if form.primary_group %}{% formfield form.primary_group %}{% endif %}
        {% formfield form.title %}
        {% formfield form.description %}

        {% inlineformfield form.telephoneNumber form.facsimileTelephoneNumber %}
        {% formfield form.mobile %}
        {% formfield form.managed_by %}
        {% formfield form.l %}
        {% formfield form.jpegPhoto %}
        {% if form.loginShell %}{% formfield form.loginShell %}{% endif %}
        {% endblock %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
        {% if not created and perms.placard.delete_account %}
        <p class="deletelink-box"><a href="{% url "plac_account_delete" account.pk %}" class="deletelink">Delete</a></p>
        {% endif %}
    </div>
</form>
{% endblock %}
