{% extends "forms.html" %}


{% block title %}{{ account }} lock | Accounts{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_account_list %}">Accounts</a>
 &rsaquo; <a href="{% url plac_account_detail account.pk %}">{{ account }}</a>
 &rsaquo; Lock user
</div>
{% endblock %}


{% block content %}
<form method="post" action="." class="module">{% csrf_token %}
    <h2>Lock {{ account }}</h2>

    {% block confirm-details %}{% endblock %}

    <p>Are you sure you want to lock {{ account }}'s user account? </p>
    <div class="submit-row">
        <input type="submit" value="Yes, I'm sure" />
    </div>
</form>
{% endblock %}
