{% extends "forms.html" %}


{% block title %}{{ group }} rename | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_grp_list %}">Groups</a>
 &rsaquo; <a href="{% url plac_grp_detail group.pk %}">{{ group }}</a>
 &rsaquo; Rename Group
</div>
{% endblock %}


{% block content %}
<form method="post" action="." class="module">{% csrf_token %}
    <h2>Rename group {{ group }}</h2>
    <div>
        {% load placard %}
        {% if form.errors  or form.non_field_errors %}
        <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
        {% endif %}
        <fieldset class="module aligned">
        {% for field in form %}{% formfield field %}{% endfor %}
        </fieldset>
    </div>
    <div class="submit-row">	
        <input type="submit" value="Save" class="default" />
    </div>
</form>
{% endblock %}
