{% extends "forms.html" %}


{% block title %}{{ group }} add user | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_group_list %}">Groups</a>
 &rsaquo; Add Group Member
</div>
{% endblock %}


{% block content %}
{% load placard_tags %}
{% if form.errors  or form.non_field_errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}

<form method="post" action="." class="module">{% csrf_token %}
    <h2>Add user {{ account }} to {{ group }}</h2>
    <fieldset class="aligned">
        {% for field in form %}{% formfield field %}{% endfor %}
    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
    </div>
</form>
{% endblock %}
