{% extends "forms.html" %}


{% block title %}{{ group }} delete | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_group_list %}">Groups</a>
 &rsaquo; Delete Group
</div>
{% endblock %}


{% block content %}
<form method="post" action=".">{% csrf_token %}
    <h2>Delete {{ group }}</h2>

    <p>Are you sure you want to delete the group '{{ group }}'? </p>
    <div class="submit-row">
        <input type="submit" value="Yes, I'm sure" />
    </div>
</form>
{% endblock %}
