{% extends "main.html" %}


{% block title %}{{ group }} verbose | Groups{% endblock %}


{% block breadcrumbs %}
{% load placard_tags %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_group_list %}">Groups</a>
{% if is_slave %}
 &rsaquo; <a href="{% bond_url 'plac_group_detail' group.pk group_bond %}">{{ group }} detail</a>
 &rsaquo; <a href="{% bond_url 'plac_group_detail' group.pk group_bond %}">{{ group_bond }}</a>
 &rsaquo; Verbose
{% else %}
 &rsaquo; <a href="{% bond_url 'plac_group_detail' group.pk group_bond %}">{{ group }} detail</a>
 &rsaquo; Verbose
{% endif %}
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Group {{ group }} verbose </h2>
        <h3>{{ group.dn }}</h3>
        <table>
            {% for i,j in group.get_fields %}
                <tr>
                    {% if j %}
                    <td>{{ i }}</td><td>{{ j }}</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
