{% extends "main.html" %}


{% block title %}{{ group }} detail | Groups{% endblock %}


{% block extrastyle %}
{% load admin_static %}
<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url plac_grp_list %}">Groups</a>
 &rsaquo; {{ group }}
</div>
{% endblock %}


{% block object-tools %}
<div class="module">
    <h2>Group links</h2>
    <ul>
        <li><a href="verbose/">Verbose</a></li>
        {% block object-tools-view %}{% endblock %}
        {% if perms.placard.change_group %}
        <li><a href="{% url plac_grp_edit group.pk %}">Edit details</a></li>
        {% endif %}
        {% if perms.placard.rename_group %}
        <li><a href="{% url plac_grp_rename group.pk %}">Rename Group</a></li>
        {% endif %}
        {% if perms.placard.email_group %}
        <li><a href="{% url plac_group_email group.pk %}">Sends members an Email</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Group {{ group }} detail</h2>

        <h3>{{ group.cn }}</h3>
        <table>
            <tr>
            <td>cn</td><td>{{ group.cn }}</td>
            </tr>
            <tr>
            <td>description</td><td>{{ group.description }}</td>
            </tr>
            <tr>
            <td>displayName</td><td>{{ group.displayName }}</td>
            </tr>
            <tr>
            <td>gidNumber</td><td>{{ group.gidNumber }}</td>
            </tr>
            <tr>
            <td>objectClass</td><td>{{ group.objectClass }}</td>
            </tr>
            <tr>
            <td>sambaGroupType</td><td>{{ group.sambaGroupType }}</td>
            </tr>
            <tr>
            <td>sambaSID</td><td>{{ group.sambaSID }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Primary Users</th>
            </tr>
            {% for m in group.primary_accounts.all %}
                <tr class="{% cycle row1,row2 %} {% if m.is_locked %}locked{% endif %}">
                    <td><a href="{% url plac_user_detail m.pk %}" >{{ m }}</a></td>
                </tr>
            {% endfor %}
            <tr>
                <th>Secondary Users</th>
            </tr>
            {% for m in group.secondary_accounts.all %}
                <tr class="{% cycle row1,row2 %}">
                    <td class="{% if m.is_locked %}locked{% endif %}"><a href="{% url plac_user_detail m.pk %}" >{{ m }}</a></td>
                    {% if perms.placard.change_group %}
                    <td><a href="{% url plac_grp_rm_member group.pk m.pk %}" class="deletelink">Remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if perms.placard.change_group %}
            <form method="post" action="{% url plac_grp_add_member group.pk %}" class="simple">{% csrf_token %}
                <fieldset>
                    {{ form }}<input type="submit" value="Add" class="default" />
                </fieldset>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
