{% extends "main.html" %}


{% block title %}Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
&rsaquo; Groups
</div>
{% endblock %}


{% block extrastyle %}
{% load admin_static %}
<link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}" />
{% endblock %}


{% block object-tools %}
{% if perms.placard.add_group %}
<div class="module">
    <h2>Group links</h2>
    <ul>
        {% if perms.placard.add_group %}
            <li><a href="{% url plac_grp_add %}" class="addlink">Add Group</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Group List</h2>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for g in group_list|dictsort:"cn" %}
                <tr class="{% cycle row1,row2  as rowcolours %}">
                    <td><a href="{% url plac_grp_detail g.pk %}">{{ g }}</a></td>
                    <td>{{ g.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% load placard %}
        {% if is_paginated %}{% pagination request page_obj %}{% endif %}
    </div>
</div>
{% endblock %}
