{% extends "forms.html" %}
{% load url from future %}


{% block title %}{{ group }} remove member | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url "plac_group_list" %}">Groups</a>
 &rsaquo; <a href="{% url "plac_group_detail" group.cn %}">{{ group }}</a>
 &rsaquo; Remove member
</div>
{% endblock %}


{% block content %}
<form method="post" action="." class="module">{% csrf_token %}
    <h2>Remove user {{ account }} from {{ group }}</h2>

    <p>Are you sure you want to remove {{ account }} from the group {{ group }}? </p>
    <div class="submit-row">
        <input type="submit" value="Yes, I'm sure" />
    </div>
</form>
{% endblock %}
