{% extends "forms.html" %}
{% load url from future %}


{% block title %}{{ group }} email | Groups{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
 &rsaquo; <a href="{% url "plac_group_list" %}">Groups</a>
 &rsaquo; <a href="{% url "plac_group_detail" group.cn %}">{{ group }}</a>
 &rsaquo; Send Email
</div>
{% endblock %}


{% block content %}
{% load placard_tags %}
{% if form.errors  or form.non_field_errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}

<form method="post" action="." class="module">{% csrf_token %}
    <h2>Send Email to {{ group }}</h2>
    <div>
        <fieldset class="aligned">
            {% for field in form %}{% formfield field %}{% endfor %}
        </fieldset>

        <p>The following variables exist to use in the email body:</p>
        <ul>
            <li>{% templatetag openvariable %} first_name {% templatetag closevariable %}: The account's givenName</li>
            <li>{% templatetag openvariable %} last_name {% templatetag closevariable %}: The account's sn</li>
        </ul>
        <p>Eg. "Hello {% templatetag openvariable %} first_name {% templatetag closevariable %}
        {% templatetag openvariable %} last_name {% templatetag closevariable %}, how is your day going"</p>
    </div>
    <div class="submit-row">
        <input type="submit" value="Send" class="default" />
    </div>
</form>
{% endblock %}
