{% extends "base_site.html" %}
{% load url from future %}


{% block coltype %}colSM{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module">
    <h2>Quick search</h2>
    <form id="changelist-search" action="{% url "plac_search" %}" method="get">
      <div><!-- DIV needed for valid HTML -->
        &nbsp;<input type="text" size="21" name="q" value="{{ q }}" id="sitesearch" />
        <input type="submit" value="Go" />
      </div>
    </form>
  </div>
  <div class="module">
    {% load placard_tags %}
    <h2>Quick links</h2>
    <ul>
      <li><a class="{% active request "$" %}" href="{% url "plac_index" %}">Home</a></li>
      <li><a class="{% active request "users/" %}" href="{% url "plac_account_list" %}">Accounts</a></li>
      <li><a class="{% active request "groups/" %}" href="{% url "plac_group_list" %}">Groups</a></li>
      {% if user.is_staff %}
      <li><a href="{% url "admin:index" %}">Admin</a></h3></li>
      {% endif %}
    </ul>
  </div>
  {% block sidebar_extra %}
  {% block object-tools %}
  {% endblock %}
  {% endblock %}
</div>
{% endblock %}
