{% extends "main.html" %}


{% block title %}Search{% endblock %}


{% block breadcrumbs %}
<div id="breadcrumbs">
<a href='{{ base_url|default:"/" }}'>Home</a>
&rsaquo; Search
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Users</h2>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user_list %}
                <tr class="{% cycle row1,row2  as rowcolours %}">
                    <td><a href="{% url plac_user_detail u.uid %}">{{ u.cn }}</a></td>
                    <td>{{ u.telephoneNumber }}</td>
                    <td>{{ u.mobile }}</td>
                    <td>{{ u.mail|urlize }}</td>
                    <td>{{ u.l }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="module">
        <h2>Groups</h2>

        <table cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for g in group_list|dictsort:"cn" %}
                <tr class="{% cycle row1,row2  as rowcolours %}">
                    <td><a href="{% url plac_grp_detail g.gidNumber %}">{{ g.gidNumber }}</a></td>
                    <td>{{ g }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
