<div id="content-related">
  <div class="module">
    <h2>Quick Search</h2>
    <form id="changelist-search" action="{% url plac_search %}" method="post">
      <div><!-- DIV needed for valid HTML -->
	&nbsp;<input type="text" size="21" name="sitesearch" value="{{ siteterms }}" id="sitesearch" />
	<input type="submit" value="Go" />
      </div>
    </form>
  </div>
  <div class="module">
    {% load common %}
    <h2>Quick Links</h2>
    <ul>
      <li><h3><a class="{% active request "$" %}" href="{% url plac_index %}">Home</a></h3></li>
      
      <li><h3><a class="{% active request "users/" %}" href="{% url plac_user_list %}">Users</a></h3></li>
      
      <li><h3><a class="{% active request "groups/" %}" href="{% url plac_grp_list %}">Groups</a></h3></li>
  
      {% if user.is_staff %}
      <li><h3><a href="{% url admin:index %}">Admin</a></h3></li>
      {% endif %}
    </ul>
  </div>
</div>
