{% extends "main.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Users</a>
 &rsaquo; {{ luser.uid }}
{% endblock %}   

{% block content %}
<div id="content-main">
  
  <div class="module">
    <h2>Users</h2>
    <h3>{{ luser.cn }}</h3>
    {% if perms.auth.change_user %}
    <p><a href="edit/">Edit details</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="change_password/">Change password</a></p>
    {% endif %}
    <table>
      <tr>
	<td>Username</td><td>{{ luser.uid }}</td>
      </tr>
      <tr>
	<td>Title</td><td>{{ luser.title }}</td>
      </tr>
      <tr>
	<td>Email</td><td>{{ luser.mail|urlize }}</td>
      </tr>
      <tr>
	<td>Phone</td><td>{{ luser.telephoneNumber }}</td>
      </tr>
      <tr>
	<td>Mobile</td><td>{{ luser.mobile }}</td>
      </tr>	
      <tr>
	<td>Fax</td><td>{{ luser.facsimileTelephoneNumber }}</td>
      </tr>
      <tr>
	<td>Photo</td><td><img src="{{ luser.photo_url }}" /></td>
      </tr>
      <tr>
	<td>Description</td><td>{{ luser.description }}</td>
      </tr>
      <tr>
	<td>dn</td><td>{{ luser.dn }}</td>
      </tr>
      <tr>
        <td>uidNumber</td><td>{{ luser.uidNumber }}</td>
      </tr>
      <tr>
	<td>gidNumber</td><td>{{ luser.gidNumber }}</td>
      </tr>
      <tr>
	<td>homeDirectory</td><td>{{ luser.homeDirectory }}</td>
      </tr>
      <tr>
	<td>loginShell</td><td>{{ luser.loginShell }}</td>
      </tr>
      <tr>
	<td>Manager</td><td><a href="{{ luser.get_manager.get_absolute_url }}">{{ luser.get_manager }}</a></td>
      </tr>
      <tr>
	<td>objectClass</td><td>{{ luser.objectClass }}</td>
      </tr>
      <tr>
	<td>givenName</td><td>{{ luser.givenName }}</td>
      </tr>
      <tr>
	<td>sn</td><td>{{ luser.sn }}</td>
      </tr>	
      </table>
    {% if perms.auth.delete_user %}
    <p><a href="verbose/">Verbose output</a></p>	
    <p><a href="delete/" class="deletelink">Delete</a></p>   
    {% endif %}
  </div>
  <div class="module">
    <h2>Groups</h2>
    <table>
      <tr>
	<td>Primary Group:</td><td><a href="{{ luser.primary_group.get_absolute_url }}">{{ luser.primary_group }}</a></td>
      </tr>
      {% for g in luser.secondary_groups %}
      <tr>
	<td>&nbsp;</td><td><a href="{{ g.get_absolute_url }}">{{ g }}</a></td>
	{% if perms.auth.change_user %}
	<td><a href="{% url plac_grp_rm_member g.gidNumber,luser.uid %}" class="deletelink">remove</a></td>		
	{% endif %}
      </tr>			
      {% endfor %}
    </table>
  </div>
  {% if perms.auth.change_group %}
  <form method="post" action=".">{% csrf_token %}
    <div>
      {% load forms %}
      <fieldset class="module aligned ()">
	{% formfield form.add_group %}<input type="submit" value="Add" class="default" />
      </fieldset>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
