{% extends "main.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../">Users</a>
 &rsaquo; <a href="../">{{ luser.uid }}</a>
 &rsaquo; Groups
{% endblock %}   

{% block content %}
  <div class="module">
    <h2>Groups</h2>
    <table>
      <tr>
	<td>Primary Group:</td><td><a href="{{ luser.primary_group.get_absolute_url }}">{{ luser.primary_group }}</a></td>
      </tr>
      {% for g in luser.secondary_groups %}
      <tr>
	<td>&nbsp;</td><td><a href="{{ g.get_absolute_url }}">{{ g }}</a></td>
	{% if perms.auth.change_user %}
	<td><a href="{% url plac_grp_rm_member g.gidNumber,luser.uid %}" class="deletelink">remove</a></td>		
	{% endif %}
      </tr>			
      {% endfor %}
    </table>
  </div>
  
{% endblock %}
